<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951021297566-ikl67631b44v5b3tbhujpems7jc0o833.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951021297566-ikl67631b44v5b3tbhujpems7jc0o833</string>
	<key>API_KEY</key>
	<string>AIzaSyAi-y8LhJJVJoL-dW5stez2kMWeYdlKSy4</string>
	<key>GCM_SENDER_ID</key>
	<string>951021297566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anupamdeb.Artable</string>
	<key>PROJECT_ID</key>
	<string>artable-a98d6</string>
	<key>STORAGE_BUCKET</key>
	<string>artable-a98d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951021297566:ios:5a35e24e7feba14088808f</string>
	<key>DATABASE_URL</key>
	<string>https://artable-a98d6.firebaseio.com</string>
</dict>
</plist>